nav.navbar.navbar-expand-lg.navbar-light.bg-light
	a.navbar-brand(href="index.html") Template
	button.navbar-toggler(
		type="button" 
		data-toggle="collapse" 
		data-target="#navbarSupportedContent" 
		aria-controls="navbarSupportedContent" 
		aria-expanded="false" 
		aria-label="Toggle navigation"
	)
		span.navbar-toggler-icon

	.collapse.navbar-collapse#navbarSupportedContent
		ul.navbar-nav.mr-auto
			li.nav-item.active
				a.nav-link(href="index.html")
					|Home 
					span.sr-only (current)
			li.nav-item
				a.nav-link(href="about.html") About
			li.nav-item
				a.nav-link(href="news.html") News
			
			li.nav-item.dropdown
				a.nav-link.dropdown-toggle(
					href="#"
					id="navbarDropdown" 
					role="button" 
					data-toggle="dropdown" 
					aria-haspopup="true" 
					aria-expanded="false"
				) Dropdown

				.dropdown-menu(aria-labelledby="navbarDropdown")
					a.dropdown-item(href="#") Action
					a.dropdown-item(href="#") Another action
					.dropdown-divider
					a.dropdown-item(href="#") Something else here
