html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title Webpack app
	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			a.navbar-brand(href="#") Navbar
			button.navbar-toggler(
				type="button" 
				data-toggle="collapse" 
				data-target="#navbarSupportedContent" 
				aria-controls="navbarSupportedContent" 
				aria-expanded="false" 
				aria-label="Toggle navigation"
			)
				span.navbar-toggler-icon

			.collapse.navbar-collapse#navbarSupportedContent
				ul.navbar-nav.mr-auto
					li.nav-item.active
						a.nav-link(href="#")
							|Home 
							span.sr-only (current)
					li.nav-item
						a.nav-link(href="#") Link
					
					li.nav-item.dropdown
						a.nav-link.dropdown-toggle(
							href="#"
							id="navbarDropdown" 
							role="button" 
							data-toggle="dropdown" 
							aria-haspopup="true" 
							aria-expanded="false"
						) Dropdown

						.dropdown-menu(aria-labelledby="navbarDropdown")
							a.dropdown-item(href="#") Action
							a.dropdown-item(href="#") Another action
							.dropdown-divider
							a.dropdown-item(href="#") Something else here

						li.nav-item
							a.nav-link.disabled(href="#") Disabled

			form.form-inline.my-2.my-lg-0
				input.form-control.mr-sm-2(
					type="search" 
					placeholder="Search" 
					aria-label="Search"
				)
				button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search

		.container.mt-5
			.jumbotron
				h1.display-4 Hello, world!
				p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
				hr.my-4
				p It uses utility classes for typography and spacing to space content out within the larger container.
				p.lead
					a.btn.btn-primary.btn-lg(href="#" role="button") Learn more